/* Block */
/* line 2, ../sass/block.scss */
.sidebar .block {
  margin: 1.5em 0;
}

/* line 4, ../sass/block.scss */
.region .block:first-child {
  margin-top: 0px;
}

/* line 7, ../sass/block.scss */
#block-system-powered-by {
  text-align: center;
}

/* Search */
/* line 11, ../sass/block.scss */
#block-search-form input[type="text"] {
  margin-bottom: 1em;
}

/* Main Menu */
/* line 16, ../sass/block.scss */
#block-system-main-menu {
  width: 100%;
  margin: 0px;
}
/* line 17, ../sass/block.scss */
#block-system-main-menu h2 {
  display: none;
}
/* line 19, ../sass/block.scss */
#block-system-main-menu .content ul {
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
  z-index: 4;
}
/* line 20, ../sass/block.scss */
#block-system-main-menu .content ul li {
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  list-style: none;
  margin-left: 3px;
  background-image: none;
  line-height: 30px;
}
/* line 21, ../sass/block.scss */
#block-system-main-menu .content ul li a, #block-system-main-menu .content ul li a:link, #block-system-main-menu .content ul li a:visited {
  display: block;
  padding: 0 1em;
  font-size: 1.231em;
  color: #383838;
}
/* line 23, ../sass/block.scss */
#block-system-main-menu .content ul li a:hover, #block-system-main-menu .content ul li a.active, #block-system-main-menu .content ul li a.active-trail {
  color: #fff;
  text-decoration: none;
  background: #4b4b4b;
}
/* line 25, ../sass/block.scss */
#block-system-main-menu .content ul li ul {
  position: absolute;
  top: 30px;
  display: none;
  width: auto;
  min-width: 150px;
  right: 0px;
  background: #4b4b4b;
  overflow: hidden;
  border: #4b4b4b solid 2px;
}
/* line 26, ../sass/block.scss */
#block-system-main-menu .content ul li ul li {
  text-align: left;
  float: none;
  margin: 0;
  border-top: #fff solid 1px;
}
/* line 27, ../sass/block.scss */
#block-system-main-menu .content ul li ul li:first-child {
  border: 0px;
}
/* line 28, ../sass/block.scss */
#block-system-main-menu .content ul li ul li a, #block-system-main-menu .content ul li ul li a:link, #block-system-main-menu .content ul li ul li a:visited {
  color: #fff;
  font-size: 1em;
}
/* line 30, ../sass/block.scss */
#block-system-main-menu .content ul li ul li a:hover, #block-system-main-menu .content ul li ul li a.active {
  color: #4b4b4b;
  background: #e5e5e5;
}
/* line 36, ../sass/block.scss */
#block-system-main-menu .content ul li:hover ul {
  display: block;
}
