/**
 * HTML5 display definitions
 */
/* line 15, ../sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

/* line 21, ../sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 29, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* Address styling not present in IE 8/9. */
/* line 35, ../sass/_normalize.scss */
[hidden] {
  display: none;
}

/* line 39, ../sass/_normalize.scss */
html {
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
  /* 1 */
  font-size: 81.3%;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  line-height: 1.5em;
  color: #323232;
}

/* Remove default margin. */
/* line 59, ../sass/_normalize.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 64, ../sass/_normalize.scss */
a:link {
  color: #36aab7;
  text-decoration: none;
}

/* line 68, ../sass/_normalize.scss */
a:visited {
  color: #36aab7;
  text-decoration: none;
}

/* line 73, ../sass/_normalize.scss */
a:hover,
a:focus {
  color: #2b8892;
  text-decoration: underline;
}

/* line 77, ../sass/_normalize.scss */
a:active {
  color: #2b8892;
}

/* Address `outline` inconsistency between Chrome and other browsers. */
/* line 82, ../sass/_normalize.scss */
a:focus {
  outline: 0px;
}

/* Improve readability when focused and also mouse hovered in all browsers. */
/* line 88, ../sass/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/**
 * Typography
 *
 * To achieve a pleasant vertical rhythm, we use Compass' Vertical Rhythm mixins
 * so that the line height of our base font becomes the basic unit of vertical
 * measurement. We use multiples of that unit to set the top and bottom margins
 * for our block level elements and to set the line heights of any fonts.
 * For more information, see http://24ways.org/2006/compose-to-a-vertical-rhythm
 */
/* Set 1 unit of vertical rhythm on the top and bottom margin. */
/* line 104, ../sass/_normalize.scss */
p,
pre {
  margin: 0 0 1em 0;
}

/* line 107, ../sass/_normalize.scss */
blockquote {
  /* Also indent the quote on both sides. */
  margin: 1.5em 30px;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 116, ../sass/_normalize.scss */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 1.7em;
  line-height: 1.76471em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0em;
  margin-bottom: 0.88235em;
}

/* line 124, ../sass/_normalize.scss */
h2 {
  font-size: 1.4em;
  line-height: 2.14286em;
  margin-top: 0em;
  margin-bottom: 1.07143em;
}

/* line 129, ../sass/_normalize.scss */
h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
  margin-top: 0em;
  margin-bottom: 1.28205em;
}

/* line 134, ../sass/_normalize.scss */
h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 0em;
  margin-bottom: 1.5em;
}

/* line 139, ../sass/_normalize.scss */
h5 {
  font-size: 0.83em;
  line-height: 1.80723em;
  margin-top: 0em;
  margin-bottom: 1.80723em;
}

/* line 144, ../sass/_normalize.scss */
h6 {
  font-size: 0.67em;
  line-height: 2.23881em;
  margin-top: 0em;
  margin-bottom: 2.23881em;
}

/* Address styling not present in IE 8/9, Safari 5, and Chrome. */
/* line 151, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome. */
/* line 157, ../sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* Address styling not present in Safari 5 and Chrome. */
/* line 162, ../sass/_normalize.scss */
dfn {
  font-style: italic;
}

/* Address differences between Firefox and other browsers. */
/* line 167, ../sass/_normalize.scss */
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  border: 1px solid #5294c1;
  padding-bottom: -1px;
  margin: 1.5em 0;
}

/* Address styling not present in IE 8/9. */
/* line 176, ../sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* Correct font family set oddly in Safari 5 and Chrome. */
/* line 187, ../sass/_normalize.scss */
code,
kbd,
pre,
samp,
tt,
var {
  font-family: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

/* Improve readability of pre-formatted text in all browsers. */
/* line 196, ../sass/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/* Set consistent quote types. */
/* line 208, ../sass/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* Address inconsistent and variable font size in all browsers. */
/* line 213, ../sass/_normalize.scss */
small {
  font-size: 80%;
}

/* Prevent `sub` and `sup` affecting `line-height` in all browsers. */
/* line 219, ../sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 225, ../sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 228, ../sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/**
 * Lists
 */
/* line 238, ../sass/_normalize.scss */
dl,
menu,
ol,
ul {
  /* Address margins set differently in IE 6/7. */
  margin: 1.5em 0;
}

/* line 245, ../sass/_normalize.scss */
ol ol,
ol ul,
ul ol,
ul ul {
  /* Turn off margins on nested lists. */
  margin: 0;
}

/* line 250, ../sass/_normalize.scss */
dd {
  margin: 0 0 0 30px;
  /* LTR */
}

/* Address paddings set differently in IE 6/7. */
/* line 257, ../sass/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 30px;
  /* LTR */
}

/**
 * Embedded content and figures
 *
 * @todo Look into adding responsive embedded video.
 */
/* line 275, ../sass/_normalize.scss */
img {
  /* Remove border when inside `a` element in IE 8/9. */
  border: 0;
  /* Suppress the space beneath the baseline */
  /* vertical-align: bottom; */
  /* Responsive images */
  max-width: 100%;
  height: auto;
  /* Correct IE 8 not scaling image height when resized. */
  width: auto;
}

/* Correct overflow displayed oddly in IE 9. */
/* line 296, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Address margin not present in IE 8/9 and Safari 5. */
/* line 301, ../sass/_normalize.scss */
figure {
  margin: 0;
}

/**
 * Forms
 */
/* Define consistent border, margin, and padding. */
/* line 317, ../sass/_normalize.scss */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-style: solid;
  border-top-width: 0.0625em;
  padding-top: 0.4625em;
  border-bottom-style: solid;
  border-bottom-width: 0.0625em;
  padding-bottom: 0.9125em;
  border-left-style: solid;
  border-left-width: 0.0625em;
  padding-left: 0.9125em;
  border-right-style: solid;
  border-right-width: 0.0625em;
  padding-right: 0.9125em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 332, ../sass/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 * 4. Improve appearance and consistency with IE 6/7.
 * 5. Keep form elements constrained in their containers.
 */
/* line 350, ../sass/_normalize.scss */
button,
input,
select,
textarea {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 4px;
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
  max-width: 100%;
  /* 5 */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 5 */
  border: #95c3c8 solid 1px;
  /* @include box-shadow(0 0 2px 1px #ccc);*/
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 371, ../sass/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 382, ../sass/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 398, ../sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 410, ../sass/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 421, ../sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 435, ../sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 445, ../sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* Remove inner padding and border in Firefox 4+. */
/* line 451, ../sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 460, ../sass/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* Drupal-style form labels. */
/* line 466, ../sass/_normalize.scss */
label {
  display: block;
  font-weight: bold;
}

/**
 * Tables
 */
/* line 474, ../sass/_normalize.scss */
table {
  /* Remove most spacing between table cells. */
  border-collapse: collapse;
  border-spacing: 0;
  /* Prevent cramped-looking tables */
  /* width: 100%; */
  /* Add vertical rhythm margins. */
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* line 485, ../sass/_normalize.scss */
input[type="submit"], input[type="button"], input[type="reset"] {
  padding: 0.250em 0.625em;
  color: #fff;
  background-color: #95c3c8;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6aabb2), to(#95c3c8));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #6aabb2, #95c3c8);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #6aabb2, #95c3c8);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #6aabb2, #95c3c8);
  /* IE10 */
  background-image: -o-linear-gradient(top, #6aabb2, #95c3c8);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #6aabb2, #95c3c8);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#6aabb2', EndColorStr='#95c3c8');
}
/* line 486, ../sass/_normalize.scss */
input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover {
  background-color: #6aabb2;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#95c3c8), to(#6aabb2));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #95c3c8, #6aabb2);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #95c3c8, #6aabb2);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #95c3c8, #6aabb2);
  /* IE10 */
  background-image: -o-linear-gradient(top, #95c3c8, #6aabb2);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #95c3c8, #6aabb2);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#95c3c8', EndColorStr='#6aabb2');
}

/* line 489, ../sass/_normalize.scss */
input[type="reset"] {
  background-color: #c6c6c6;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9a9a9a), to(#c6c6c6));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #9a9a9a, #c6c6c6);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #9a9a9a, #c6c6c6);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #9a9a9a, #c6c6c6);
  /* IE10 */
  background-image: -o-linear-gradient(top, #9a9a9a, #c6c6c6);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #9a9a9a, #c6c6c6);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#9a9a9a', EndColorStr='#c6c6c6');
}
/* line 490, ../sass/_normalize.scss */
input[type="reset"]:hover {
  background-color: #9a9a9a;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c6c6c6), to(#9a9a9a));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #c6c6c6, #9a9a9a);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #c6c6c6, #9a9a9a);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #c6c6c6, #9a9a9a);
  /* IE10 */
  background-image: -o-linear-gradient(top, #c6c6c6, #9a9a9a);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #c6c6c6, #9a9a9a);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#c6c6c6', EndColorStr='#9a9a9a');
}

/* line 493, ../sass/_normalize.scss */
a#edit-cancel {
  background: #ff3232;
  padding: 0.15em 0.625em;
  display: inline-block;
  color: #fff;
}
/* line 494, ../sass/_normalize.scss */
a#edit-cancel:hover {
  background: #ff4c4c;
}

/**
 * @file
 * Print styling
 *
 * We provide some sane print styling for Drupal using Zen's layout method.
 */
/**
 * By importing this CSS file as media "all", we allow this print file to be
 * aggregated with other stylesheets, for improved front-end performance.
 */
@media print {
  /* Underline all links. */
  /* line 16, ../sass/_print.scss */
  a:link,
  a:visited {
    text-decoration: underline !important;
    /* Don't underline header. */
  }
  /* line 20, ../sass/_print.scss */
  a:link.header__site-link,
  a:visited.header__site-link {
    text-decoration: none !important;
  }

  /* line 25, ../sass/_print.scss */
  #content {
    /* Add visible URL after links. */
    /* Only display useful links. */
    /* Add visible title after abbreviations. */
  }
  /* line 27, ../sass/_print.scss */
  #content a[href]:after {
    content: " (" attr(href) ")";
    font-weight: normal;
    font-size: 16px;
  }
  /* line 35, ../sass/_print.scss */
  #content a[href^="javascript:"]:after,
  #content a[href^="#"]:after {
    content: "";
  }
  /* line 40, ../sass/_print.scss */
  #content abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* Un-float the content. */
  /* line 46, ../sass/_print.scss */
  #content {
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  /* Turn off any background colors or images. */
  /* line 57, ../sass/_print.scss */
  body,
  #page,
  #main,
  #content {
    color: #000;
    background-color: transparent !important;
    background-image: none !important;
  }

  /* Hide sidebars and nav elements. */
  /* line 77, ../sass/_print.scss */
  #skip-link,
  #toolbar,
  #navigation,
  .region-sidebar-first,
  .region-sidebar-second,
  #footer,
  .breadcrumb,
  .tabs,
  .action-links,
  .links,
  .book-navigation,
  .forum-topic-navigation,
  .pager,
  .feed-icons {
    visibility: hidden;
    display: none;
  }
}
/* Responsive, Flexible-Height Sticky Footers */
/* line 6, ../sass/styles.scss */
html, body {
  height: 100%;
}

/* line 7, ../sass/styles.scss */
body {
  display: table;
  width: 100%;
}

/* line 8, ../sass/styles.scss */
.page-row {
  display: table-row;
  height: 1px;
}

/* line 9, ../sass/styles.scss */
.page-row-expanded {
  height: 100%;
}

/* line 10, ../sass/styles.scss */
#wrapperCntr {
  overflow: hidden;
  display: table;
  width: 100%;
  height: 100%;
}

/* page css  */
/* line 14, ../sass/styles.scss */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

/* line 15, ../sass/styles.scss */
#contentCntr {
  margin: 1em 0 3em 0;
  overflow: hidden;
}

/* line 16, ../sass/styles.scss */
#mainCntr, #footerCntr {
  width: 100%;
}

/* Header Logo/Slogan */
/* line 19, ../sass/styles.scss */
#header {
  background-color: #36aab7;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#20666d), to(#36aab7));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #20666d, #36aab7);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #20666d, #36aab7);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #20666d, #36aab7);
  /* IE10 */
  background-image: -o-linear-gradient(top, #20666d, #36aab7);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #20666d, #36aab7);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#20666d', EndColorStr='#36aab7');
  border-bottom: #fff solid 2px;
  border-top: #fff solid 2px;
}
/* line 20, ../sass/styles.scss */
#header .element-invisible {
  display: none;
}

/* line 22, ../sass/styles.scss */
#logo_floater {
  float: left;
}

/* line 23, ../sass/styles.scss */
#branding, #branding a:link, #branding a:visited {
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  line-height: 90px;
  position: relative;
  white-space: nowrap;
  z-index: 2;
  color: #fff;
  font-size: 1.5em;
  text-shadow: 0 1px 3px #1659ac;
  margin: 10px 0;
}

/* line 24, ../sass/styles.scss */
#branding span {
  margin-left: 10px;
}

/* line 25, ../sass/styles.scss */
#branding img {
  float: left;
}

/**
 * Primary navigation
 */
/* line 30, ../sass/styles.scss */
ul.main-menu {
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
  z-index: 10;
}
/* line 31, ../sass/styles.scss */
ul.main-menu li {
  margin: 0;
  padding: 0;
  float: left;
  background-image: none;
  list-style: none;
}
/* line 32, ../sass/styles.scss */
ul.main-menu li a, ul.main-menu li a:link, ul.main-menu li a:visited {
  display: block;
  margin: 0 1em;
  padding: .75em 0 5px;
  color: #fff;
  border-bottom: transparent solid 3px;
}
/* line 34, ../sass/styles.scss */
ul.main-menu li a:hover, ul.main-menu li a:focus, ul.main-menu li a.active {
  color: #fff;
  text-decoration: none;
  border-bottom: #fff solid 3px;
}

/* line 39, ../sass/styles.scss */
a#menu-toggle {
  display: none;
  background: #6aabb2 url("../images/toggle.png") center center no-repeat;
  width: 36px;
  height: 28px;
  position: absolute;
  right: 10px;
  top: 10px;
  text-indent: -9999px;
}

/**
 * Secondary navigation
 */
/* line 53, ../sass/styles.scss */
ul.secondary-menu {
  margin: 0;
  padding: 18px 0 0;
  float: right;
  clear: right;
  position: relative;
  z-index: 4;
  list-style: none;
}
/* line 54, ../sass/styles.scss */
ul.secondary-menu li {
  margin: 0;
  padding: 0;
  float: left;
  background-image: none;
}
/* line 55, ../sass/styles.scss */
ul.secondary-menu li a, ul.secondary-menu li a:link, ul.secondary-menu li a:visited {
  display: block;
  margin: 0 1em;
  padding: .75em 0 0;
  color: #cde3f1;
  background: transparent;
}
/* line 57, ../sass/styles.scss */
ul.secondary-menu li a:hover, ul.secondary-menu li a.active {
  color: #cde3f1;
  background: transparent;
}

/* Header region part */
/* line 63, ../sass/styles.scss */
.header_bottom {
  padding: 5px 0;
  clear: both;
  width: 100%;
  background-color: #d6d6d6;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#d6d6d6));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #cccccc, #d6d6d6);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #cccccc, #d6d6d6);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #cccccc, #d6d6d6);
  /* IE10 */
  background-image: -o-linear-gradient(top, #cccccc, #d6d6d6);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #cccccc, #d6d6d6);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#cccccc', EndColorStr='#d6d6d6');
  border-top: #fff solid 1px;
  border-bottom: #acacac solid 1px;
}

/* Breadcrumb */
/* line 66, ../sass/styles.scss */
.breadcrumb {
  padding-bottom: 1em;
}

/* Page Layout */
/* line 73, ../sass/styles.scss */
#center,
#sidebar-first,
#sidebar-second {
  display: inline;
  float: left;
  position: relative;
}

/* line 78, ../sass/styles.scss */
.two-sidebars #center {
  margin-left: 24%;
  margin-right: 24%;
  width: 52%;
}

/* line 83, ../sass/styles.scss */
.one-sidebar #center {
  width: 76%;
}

/* line 86, ../sass/styles.scss */
.no-sidebars #center {
  width: 100%;
}

/* line 89, ../sass/styles.scss */
.sidebar-first #center {
  margin-left: 24%;
  margin-right: 0;
}

/* line 93, ../sass/styles.scss */
.sidebar-second #center {
  margin-right: 24%;
  margin-left: 0;
}

/* line 97, ../sass/styles.scss */
#sidebar-first {
  width: 24%;
  margin-left: -100%;
}

/* line 101, ../sass/styles.scss */
#sidebar-second {
  width: 24%;
  margin-left: -24%;
  clear: none;
}

/* line 106, ../sass/styles.scss */
.two-sidebars #squeeze {
  padding: 0 15px;
}

/* line 109, ../sass/styles.scss */
.one-sidebar#sidebar-first #squeeze {
  padding: 0 15px 0 0;
}

/* line 112, ../sass/styles.scss */
.one-sidebar#sidebar-second #squeeze {
  padding: 0 0 0 15px;
}

/* line 118, ../sass/styles.scss */
.sidebar .region .block:first-child {
  margin-top: 0px;
}
/* line 120, ../sass/styles.scss */
.sidebar .block {
  padding: 15px;
  background: #f6f6f2;
  border: #ddddd9 solid 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 121, ../sass/styles.scss */
.sidebar .block h2 {
  font-weight: normal;
  line-height: 1.5em;
  margin-bottom: 0.76em;
}

/* Footer Section */
/* line 126, ../sass/styles.scss */
#footerCntr {
  background: #2b8892;
  color: #fff;
}
/* line 127, ../sass/styles.scss */
#footerCntr .region-footer {
  margin: 1.5em 0;
}
/* line 128, ../sass/styles.scss */
#footerCntr a {
  color: #fff;
  text-decoration: underline;
}
/* line 129, ../sass/styles.scss */
#footerCntr a:hover {
  text-decoration: none;
}

@media all and (max-width: 980px) {
  /* line 136, ../sass/styles.scss */
  #center {
    float: none;
  }

  /* line 143, ../sass/styles.scss */
  .two-sidebars #center,
  .one-sidebar #center,
  .no-sidebars #center,
  .sidebar-first #center,
  .sidebar-second #center {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  /* line 148, ../sass/styles.scss */
  .one-sidebar #sidebar-first, .one-sidebar #sidebar-second {
    width: 100%;
  }

  /* line 153, ../sass/styles.scss */
  .two-sidebars #squeeze,
  .one-sidebar #sidebar-first #squeeze,
  .one-sidebar #sidebar-second #squeeze {
    padding: 0;
  }

  /* line 156, ../sass/styles.scss */
  .two-sidebars #sidebar-first {
    width: 48%;
    margin: 0 2% 0 0;
  }

  /* line 157, ../sass/styles.scss */
  .two-sidebars #sidebar-second {
    width: 48%;
    margin: 0 0 0 2%;
  }
}
@media all and (max-width: 640px) {
  /* line 167, ../sass/styles.scss */
  .two-sidebars #sidebar-first {
    width: 100%;
    margin: 0;
  }

  /* line 168, ../sass/styles.scss */
  .two-sidebars #sidebar-second {
    width: 100%;
    margin: 0;
  }

  /* line 170, ../sass/styles.scss */
  a#menu-toggle {
    display: block;
  }

  /**
   * Primary navigation
   */
  /* line 175, ../sass/styles.scss */
  ul.main-menu {
    top: 38px;
    right: 10px;
    display: none;
    width: 90%;
    position: absolute;
    float: none;
    background: #6aabb2;
    overflow: hidden;
    border: #6aabb2 solid 1px;
  }
  /* line 176, ../sass/styles.scss */
  ul.main-menu li {
    float: none;
    border-top: #6aabb2 solid 1px;
  }
  /* line 177, ../sass/styles.scss */
  ul.main-menu li:first-child {
    border: 0px;
  }
  /* line 178, ../sass/styles.scss */
  ul.main-menu li a, ul.main-menu li a:link, ul.main-menu li a:visited {
    margin: 0 0;
    padding: .75em 1em 5px;
    border: 0px;
  }
  /* line 180, ../sass/styles.scss */
  ul.main-menu li a:hover, ul.main-menu li a:focus, ul.main-menu li a.active {
    color: #6aabb2;
    text-decoration: none;
    border: 0px;
    background: #fff;
  }
}
