/* Block */
.sidebar .block { margin: 1.5em 0;}
.region {
	.block:first-child { margin-top: 0px; }
}

#block-system-powered-by { text-align: center; }

/* Search */
#block-search-form {
	input[type="text"] { margin-bottom: 1em; }

}

/* Main Menu */
#block-system-main-menu { width: 100%; margin: 0px;
	h2 { display: none; }
	.content {
		ul { margin: 0; padding: 0; float: right; position: relative; z-index: 4;
			li { margin: 0; padding: 0; position: relative; float: left; list-style: none; margin-left: 3px; background-image: none; line-height: 30px;
				a, a:link, a:visited { display: block; padding: 0 1em;font-size: 1.231em; color: #383838; }
				a {
					&:hover, &.active, &.active-trail { color: #fff; text-decoration: none; background: #4b4b4b; }
				}
				ul { position: absolute; top: 30px; display: none; width: auto; min-width: 150px; right: 0px; background: #4b4b4b; overflow: hidden; border: #4b4b4b solid 2px;
					li { text-align: left; float: none; margin: 0; border-top: #fff solid 1px;
						&:first-child { border: 0px; }
						a, a:link, a:visited { color: #fff; font-size: 1em; }
						a {
							&:hover, &.active { color: #4b4b4b; background: #e5e5e5
; }
						}	
					}
				}
				&:hover {
					ul { display: block; }	
				}
			}
		}
	}
}