@import "init";
@import "normalize";
@import "print";

/* Responsive, Flexible-Height Sticky Footers */
html, body { height: 100%; } 
body { display: table; width: 100%; }
.page-row { display: table-row; height: 1px; }
.page-row-expanded { height: 100%; }
#wrapperCntr { overflow: hidden; display: table; width: 100%;  height: 100%; }


/* page css  */
.wrapper { max-width: 1200px; margin: 0 auto; padding: 0 10px; }
#contentCntr { margin: 1em 0 3em 0; overflow: hidden; }
#mainCntr, #footerCntr { width: 100%; }

/* Header Logo/Slogan */
#header {  @include linear-gradient(#20666d, #36aab7); border-bottom: #fff solid 2px; border-top: #fff solid 2px; 
	.element-invisible { display: none; }
}
#logo_floater { float: left; }
#branding, #branding a:link, #branding a:visited { font-family: $helvetica; line-height: 90px; position: relative; white-space: nowrap; z-index: 2; color: #fff; font-size: 1.5em; text-shadow: 0 1px 3px #1659ac; margin: 10px 0; }
#branding span { margin-left: 10px; }
#branding img { float: left; }

/**
 * Primary navigation
 */
ul.main-menu { margin: 0; padding: 0; float: right; position: relative; z-index: 10;
	li { margin: 0; padding: 0; float: left; background-image: none; list-style: none; 
		a, a:link, a:visited { display: block; margin: 0 1em; padding: .75em 0 5px; color: #fff; border-bottom: transparent solid 3px; } 
		a {
			&:hover, &:focus , &.active { color: #fff; text-decoration: none; border-bottom: #fff solid 3px; }
		}
	}
}

a#menu-toggle {
  display:none;
  background: #6aabb2 url('../images/toggle.png') center center no-repeat;
  width: 36px;
  height: 28px;
  position: absolute;
  right: 10px;
  top: 10px;
  text-indent: -9999px; 
}

/**
 * Secondary navigation
 */
ul.secondary-menu { margin: 0; padding: 18px 0 0; float: right; clear: right; position: relative; z-index: 4; list-style: none;
	li { margin: 0; padding: 0; float: left; background-image: none;
		a, a:link, a:visited { display: block; margin: 0 1em; padding: .75em 0 0;  color: #cde3f1; background: transparent; }
		a {
			&:hover, &.active { color: #cde3f1; background: transparent; }
		}
	}
}

/* Header region part */
.header_bottom { padding: 5px 0; clear: both; width: 100%; @include linear-gradient(#cccccc, #d6d6d6); border-top: #fff solid 1px; border-bottom: #acacac solid 1px; }

/* Breadcrumb */
.breadcrumb {
	padding-bottom: 1em;
}

/* Page Layout */
#center,
#sidebar-first,
#sidebar-second {
	display: inline;
	float: left;
	position: relative;
}
.two-sidebars #center {
	margin-left: 24%;
	margin-right: 24%;
	width: 52%;
}
.one-sidebar #center {
	width: 76%;
}
.no-sidebars #center {
	width: 100%;
}
.sidebar-first #center {
	margin-left: 24%;
	margin-right: 0;
}
.sidebar-second #center {
	margin-right: 24%;
	margin-left: 0;
}
#sidebar-first {
	width: 24%;
	margin-left: -100%;
}
#sidebar-second {
	width: 24%;
	margin-left: -24%;
	clear: none;
}
.two-sidebars #squeeze { 
	padding: 0 15px; 
}
.one-sidebar#sidebar-first #squeeze {
	padding: 0 15px 0 0; 
}
.one-sidebar#sidebar-second #squeeze { 
	padding: 0 0 0 15px; 
}

.sidebar {
	.region {
		.block:first-child { margin-top: 0px; }
	}
	.block { padding: 15px; background: #f6f6f2; border: #ddddd9 solid 1px; @include border-radius(5px); 
		h2 { font-weight: normal; line-height: 1.5em; margin-bottom: 0.76em; }
	}	
}

/* Footer Section */
#footerCntr { background: #2b8892;  color: #fff;
	.region-footer { margin: 1.5em 0; }
	a { color: #fff; text-decoration: underline; 
		&:hover { text-decoration: none; }
	}
}


@media all and (max-width: 980px) {

	#center {
		float: none;
	}
	.two-sidebars #center,
	.one-sidebar #center,
	.no-sidebars #center,
	.sidebar-first #center,
	.sidebar-second #center {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
	.one-sidebar #sidebar-first, .one-sidebar #sidebar-second {
		width: 100%;
	}
	.two-sidebars #squeeze,
	.one-sidebar #sidebar-first #squeeze,
	.one-sidebar #sidebar-second #squeeze { 
		padding: 0; 
	}
	.two-sidebars #sidebar-first { width: 48%; margin: 0 2% 0 0;}
	.two-sidebars #sidebar-second { width: 48%; margin: 0 0 0 2%;}

}

@media all and (max-width: 768px) {

}

@media all and (max-width: 640px) {

	.two-sidebars #sidebar-first { width: 100%; margin: 0;}
	.two-sidebars #sidebar-second { width: 100%; margin: 0;}
	
	a#menu-toggle { display: block; }
		
	/**
	 * Primary navigation
	 */
	ul.main-menu { top: 38px; right: 10px; display: none; width: 90%; position: absolute; float: none; background: #6aabb2; overflow: hidden; border: #6aabb2 solid 1px;
		li { float: none; border-top: #6aabb2 solid 1px;
			&:first-child { border: 0px; }
			a, a:link, a:visited { margin: 0 0; padding: .75em 1em 5px; border:0px; } 
			a {
				&:hover, &:focus , &.active { color: #6aabb2; text-decoration: none; border: 0px; background: #fff; }
			}
		}
	}
	
}

@media all and (max-width: 320px) {

}



